:root{
    --acc: #00A160;
    --bg: #131516;
    --texto: rgb(199, 199, 199);
    --select-border: #777;
    --select-focus: var(--acc);
    --or: #FFA500;

}



body{
    font-family: 'Poppins', sans-serif;
    background-color: var(--bg);
    padding: 0;
    margin: 0;
    transition-duration: 0.25s;
}

.card:hover{
    background-color: #222425;
}

.cardprim:hover{
    background-color: #222425;
}

::-webkit-scrollbar-track
{
	border: 5px solid var(--bg);
	border-color: transparent;
	background-color: var(--bg);
}

::-webkit-scrollbar
{
	width: 5px;
	background-color: #dfe6e9;
}

::-webkit-scrollbar-thumb
{
	background-color: var(--acc);
	border-radius: 10px;
}


















@media (max-width: 1024px) {
    
    .flex{
        display: flexbox;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        left: 0;
        top: 0;
    }

    .header{
        background-color:var(--bg);
        width: 100%;
        border-radius: 0vw 0vw 1.5vh 1.5vh;
        box-shadow: 0px 0.5vh 5px rgb(80, 80, 80);
        display: flex;
        flex-direction: column;
        height: 19.5vh;
    }

    .logo{
        height: 6vh;
        width: auto;
        margin: 2vh;
    }
    
    .titulo{
        font-size: 5vh;
        color: rgb(199, 199, 199);
        font-weight: bold;
        margin: 0;
    }

    .balao{
        text-align: center;
        position: relative;
        top: 2vh;
        padding: 0.1vh;
        background-color: var(--acc);
        border-radius: 3vw;
        color: white;
        width: 94%;
        margin: auto;
    }


    .descd{
        display: none;
    }

    .descm{
        text-align: center;
        padding: 1vh;
        margin-top: 2vh;
    }


    .balaot{
        margin: 3vw;
        font-size: 2vh;
    }
    
    .seta{
        top: 7.5vh;
        position: absolute;
        width: 0vw; 
        height: 0vw; 
        border-left: 5.5vh solid transparent;
        border-right: 5.5vh solid transparent;
        border-bottom: 7vh solid var(--acc);
    }


    .align{
        width: 100%;
        display: flex;
        justify-content: center;
        position: absolute;
        top: 11vh;
    }


    
    .envb{
        margin-top: 2vh;
        margin-bottom: 2vh;
        border-radius: 1.5vh;
        border: none;
        height: auto;
        width: auto;
        padding: 1vh;
        font-size: 1.5rem;
        background-color: var(--acc);
        color: white;
        cursor: pointer;
        transition: 0.25s;
    }

    .envb:hover{
        filter: brightness(150%);
    }



    .navbg{
        background-color: #2D2E2E;
        padding: 0.5vh;
        border-radius: 2vh;
        width: 100%;
        display: block;
        margin-left:-1vw;
    }

    .navop{
        border: none;
        font-size: 1.3rem;
        background-color: transparent;
        color: white;
        border-radius: 1vh;
        height: 5vh;
        width: auto;
        margin: auto;
        transition-duration: 0.25s;
        cursor: pointer;
        font-weight: bold;
    }


    .navops{
        border: none;
        font-size: 1.3rem;
        background-color: var(--acc);
        color: white;
        border-radius: 1vh;
        height: 5vh;
        width: auto;
        margin: auto;
        transition-duration: 0.25s;
        cursor: pointer;
        font-weight: bold;
    }

    .nof{
        position: absolute;
        top: 60vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        color: var(--texto);
    }


    .navop:hover{
        color: var(--acc);
        filter: brightness(120%);
        background-color: var(--bg);
    }



    .contcard{
        margin-top: 0vh;
    }

    .card{
        padding: 1vh;
        border-radius: 2vh;
        margin-bottom: 1.5vh;
        width: 86%;
        margin-right: auto;
        margin-left: auto;
        background-color: var(--bg);
        box-shadow: 0px 0vh 5px rgb(80, 80, 80);
        transition-duration: 0.25s;
    }


    .cardprim{
        border: solid 0.7vh var(--acc);
        padding: 0.3vh;
        border-radius: 2vh;
        margin-bottom: 1.5vh;
        width: 86%;
        margin-right: auto;
        margin-left: auto;
        background-color: var(--bg);
        box-shadow: 0px 0vh 5px rgb(80, 80, 80);
        transition-duration: 0.25s;
    }



    .bord{
        display: flex;
        flex-direction: row;
        width: auto;
    }



    .flx{
        display: flex;
        flex-direction: row;
        align-items: center;
        width: auto;
        justify-content: space-between;
        width: 84vw;
    }




    .collapsible {
        cursor: pointer;
        background-color: transparent;
        border: none;
        position: absolute;
        margin-top: -8.5vh;
        right: 7vw;
        opacity: 100%;
    }


    
    .content {
        padding: 0 18px;
        margin-left: 0vh;
        width: 70vw;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
        color: var(--texto);
        font-weight: normal;
    }





    .crop{
        object-fit: cover;
        object-position: center;
        height: 60px;
        width: 100px;
        border-radius: 2vh;
    }


    
    .cardt{
        margin-left: 2vh;
        margin-top: 3vh;
        color: var(--texto);
        text-align: left;
        font-size: 1.1rem;

    }



    .titsin{
        font-weight: bold;
        color: #25bb7f;
    }

    .votos{
        display: flex;
        flex-direction: row;
    }

    .voteb{
        margin: 0;
        margin-top: 1vh;
        width: 8vh;
        height: 8vh;
        cursor: pointer;
        transition-duration: 0.25s;

    }

    .voteb:hover{
        filter: brightness(150%);
        width: 10vh;
        height: 10vh;
        margin-top: auto;
        margin-bottom: auto;

    }

    .numv{
        margin: auto 0;
        color: var(--texto);
        margin-right: 3vh;
        font-size: 2rem;
    }

    
    .noimg{
        width: 5vh;
        height: auto;
    }


    .gear{
        width: 4vh;
        height: auto;
        position: relative;
        margin-left: 1vh;
        transition: 0.25s;
    }


    .titl{
        display: flex;
        flex-direction: row;
        align-items: center;
    }


    .gear:hover{
        filter: brightness(150%);
        width: 5vh;
    }


    
    .sair{
        position: absolute;
        display: flex;
        flex-direction: row;
        top: 2vh;
        right: 2vh;
    }

    .sair img{
        display: none;
    }

    .sair input{
        border-radius: 1.5vh;
        border: none;
        width: auto;
        height: auto;
        padding: 1vh;
        font-size: 1.3rem;
        cursor: pointer;
        background-color: var(--acc);
        color: white;
        transition: 0.25s;
        font-weight: bold;
    }

    .sair input:hover{
        filter: brightness(150%);
    }
}

    
    
    
    

    
    
    
    
    
    





@media (min-width: 1025px) {
    .titulo{
        font-size: 7vh;
        color: rgb(199, 199, 199);
        font-weight: bold;
        margin: 3vh;
    }

    .posm{
        display: none;
    }

    .balaot{
        margin: 1.5vw;
        position: relative;
        font-size: 2vw
    }
    .balao{
        top: 19%;
        right: 1vw;
        margin-right: 1vh;
        position: fixed;
        text-align: center;
        background-color: var(--acc);
        border-radius: 1vw;
        color: white; 
        width:30vw; 
    }

    .descm{
        display: none;
    }
    
    .descd{
        position: fixed;
        text-align: center;
        right: 4vw;
        bottom:20vh;
        width: 27vw;
    }

    
    .inf{
        margin-top: 3.5vh;
        margin-bottom: -2vh;
        width: 5vh;
        height: auto;
    }

    .envb{
        border-radius: 1.5vh;
        border: none;
        height: 8vh;
        font-size: 5vh;
        background-color: var(--acc);
        color: white;
        cursor: pointer;
        transition: 0.25s;
        word-break: keep-all;
    }

    .envb:hover{
        filter: brightness(150%);
    }

    .logo{
        height: 10vh;
        width: auto;
        margin-left: 2vh;
    }
    .header{
        background-color:var(--bg);
        width: 100%;
        left: 0;
        top: 0;
        border-radius: 0vw 0vw 1.1vw 1.1vw;
        box-shadow: 0px 0.3vh 5px rgb(80, 80, 80);
    }

    .seta{
        top: 16%;
        margin-left: 4vh;
        position: fixed;
        width: 0vw; 
        height: 0vw; 
        border-left: 3vw solid transparent;
        border-right: 3vw solid transparent;
        border-bottom: 4vw solid var(--acc);
    }




    .navbg{
        background-color: #2D2E2E;
        padding: 1vh;
        border-radius: 2vh;
        display: block;
        margin: 2vh;
        width: auto;
        position: fixed;
        right: 0;
        top: 1vh;
    }

    .navop{
        border: none;
        font-size: 2vw;
        background-color: transparent;
        color: white;
        border-radius: 1vh;
        height: 9vh;
        width: 10vw;
        transition-duration: 0.25s;
        cursor: pointer;
        font-weight: bold;
    }


    .navops{
        border: none;
        font-size: 2vw;
        background-color: var(--acc);
        color: white;
        border-radius: 1vh;
        height: 9vh;
        width: 10vw;
        transition-duration: 0.25s;
        cursor: pointer;
        font-weight: bold;
    }




    .navop:hover{
        color: var(--acc);
        filter: brightness(120%);
        background-color: var(--bg);
    }

    .contcard{
        margin-top: 2vh;
    }


    .card{
        padding: 1vh;
        border-radius: 2vh;
        margin-bottom: 1.5vh;
        margin-left: 1vh;
        width: 63vw;
        background-color: var(--bg);
        box-shadow: 0px 0vh 5px rgb(80, 80, 80);
        transition-duration: 0.25s;
    }


    .cardprim{
        border: solid 1vh var(--acc);
        padding: 0vh;
        border-radius: 2vh;
        margin-bottom: 1.5vh;
        margin-left: 1vh;
        width: 63vw;
        background-color: var(--bg);
        box-shadow: 0px 0vh 5px rgb(80, 80, 80);
        transition-duration: 0.25s;
        font-weight: bold;
    }

    .flx{
        margin-left: 20vh;
        margin-top: 3.5vh;
        margin-bottom: 0;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .collapsible {
        cursor: pointer;
        width: 10vh;
        background-color: transparent;
        border: none;
        margin-top: -11vh;
        left: 1vw;
    }


    .set{
        width: 7vh;
        height: auto;
    }

    
    .content {
        padding: 0 18px;
        width: 59vw;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
        color: var(--texto);
        font-weight: normal;
    }





    .crop{
        object-fit: cover;
        object-position: center;
        height: 100px;
        width: 100px;
        border-radius: 1vh;
    }


    
    .cardt{
        margin-bottom: auto;
        margin-top: auto ;
        width: 100%;
        color: var(--texto);
        text-align: left;
        font-size: 2rem;
    }

    .card:hover{
        background-color: #222425;
    }

    .titsin{
        font-weight: bold;
        color: #25bb7f;
    }



    .votos{
        display: flex;
        flex-direction: row;
    }


    .voteb{
        width: 9vh;
        height: 9vh;
        cursor: pointer;
        transition-duration: 0.25s;
        margin: auto;
        position: relative;

    }

    .voteb:hover{
        filter: brightness(150%);
        margin-top: auto;
        margin-bottom: auto;

    }

    .numv{
        margin-top: auto;
        margin-bottom: auto;
        color: var(--texto);
        margin: auto;
        margin-right: 3vh;
        font-size: 2rem;
    }

    .nof{
        position: absolute;
        top: 40vh;
        left: 23vw;
        width: 50vh;
        text-align: center;
        color: var(--texto);
        }
        
    .noimg{
        width: 5vh;
        height: auto;
    }
    

    .gear{
        width: 7vh;
        height: auto;
        position: relative;
        transition: 0.25s;
    }


    .titl{
        display: flex;
        flex-direction: row;
        align-items: center;
    }


    .gear:hover{
        filter: brightness(150%);
        width: 8vh;
    }


    .sair{
        position: fixed;
        display: flex;
        flex-direction: row;
        bottom: 2vh;
        right: 2vh;
    }

    .sair img{
        width: 5vh;
        height: auto;
        margin-left: 1vh;
    }

    .sair input{
        border-radius: 1.5vh;
        border: none;
        width: auto;
        height: auto;
        padding: 1vh;
        font-size: 1.3rem;
        cursor: pointer;
        background-color: var(--acc);
        color: white;
        transition: 0.25s;
    }

    .sair input:hover{
        filter: brightness(150%);
    }
}   