:root{
    --acc: #00A160;
    --bg: #131516;
    --texto: rgb(199, 199, 199);
    --select-border: #777;
    --select-focus: var(--acc);
    --or: #FFA500;

}

body{
    font-family: 'Poppins', sans-serif;
    background-color: var(--bg);
    padding: 0;
    margin: 0;
    transition-duration: 0.25s;
}


textarea{
    font-family: 'Poppins', sans-serif;
    resize: none;
}


button[disabled=disabled], button:disabled {
    filter: brightness(50%);
    cursor:not-allowed;
}


.loginb:hover{
    filter: brightness(150%);
}
.envb button:hover{
    filter: brightness(150%);
}

input:hover{
    filter: brightness(120%);
}

select:hover{
    filter: brightness(120%);
}


textarea:hover{
    filter: brightness(120%);
}

.mens:focus{
    border-width: 0.5vh;
    border-style: solid;
    border-color: var(--acc);
    background-color: var(--bg);
}



::-webkit-scrollbar-track
{
	border: 5px solid var(--bg);
	border-color: transparent;
	background-color: var(--bg);
}

::-webkit-scrollbar
{
	width: 5px;
	background-color: #dfe6e9;
}

::-webkit-scrollbar-thumb
{
	background-color: var(--acc);
	border-radius: 10px;
}







@media (max-width: 1024px) {
    
    .flex{
        display: flexbox;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        left: 0;
        top: 0;
    }

    .header{
        background-color:var(--bg);
        width: 100%;
        border-radius: 0vw 0vw 1.5vh 1.5vh;
        box-shadow: 0px 0.5vh 5px rgb(80, 80, 80);
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .header div{
        width: 100%;
        display: flex;
        flex-direction: row-reverse;
        margin-right: 4vw;
    }

    .logo{
        height: 6vh;
        width: auto;
        margin: 2vh;
    }
    
    .titulo{
        font-size: 5vh;
        color: rgb(199, 199, 199);
        font-weight: bold;
        margin: 0;
    }

    .balao{
        text-align: center;
        position: relative;
        top: 1.5vh;
        padding: 0.1vh;
        background-color: var(--acc);
        border-radius: 1.5vh;
        color: white;
        width: 94%;
        margin: auto;
    }

    .balaot{
        margin: 3vw;
        position: relative;
        font-size: 1rem;
    }
    
    .seta{
        right: 10vw;
        position: absolute;
        width: 0vw; 
        height: 0vw; 
        border-left: 4vw solid transparent;
        border-right: 4vw solid transparent;
        border-bottom: 4vw solid var(--acc);
    }
    .loginb{
        border-radius: 1vh;
        border: none;
        font-size: 1.3rem;
        background-color: var(--acc);
        color: white;
        cursor: pointer;
        padding: 0.7vh;
        font-weight: bold;
        transition-duration: 0.25s;
    }
    .bord{
        width: 25%;
    }

    .i{
        margin-top: -2vh;
    }















    .form{
        padding: 2vh;
        position: relative;
        border-radius: 2vh;
        top: 5vh;
        width: 89vw;
        margin: auto;
        background-color: var(--bg);
        box-shadow: 0px 0vh 5px rgb(80, 80, 80);
    }
    
    .linha{
        opacity: 0%;
    }
    

    .label{
        color: var(--texto);
        font-size: 1.1rem;
        margin-top: 1vh;
    }
    
    .tituloform{
        color: var(--texto);
        text-align: center;
    }
    
    .campo{
        border-radius: 1vh;
        width: 90%;
        border-color: #2D2E2E;
        outline: none;
        border-width: 0;
        font-size: 1.1rem;
        padding: 1vh;
        margin: 1vh;
        background-color: #2D2E2E;
        color: var(--texto);
        transition-duration: 0.25s;
    }

    .campo:focus{
        border-width: 0.5vh;
        border-style: solid;
        border-color: var(--acc);
        background-color: var(--bg);
    }

    .titulof{
        border-radius: 1vh;
        width: calc(90% - 7vh);
        border-color: #2D2E2E;
        outline: none;
        border-width: 0;
        font-size: 1.1rem;
        padding: 1vh;
        margin: 1vh;
        background-color: #2D2E2E;
        color: var(--texto);
        transition-duration: 0.25s;
    }

    .titulof:focus{
        border-width: 0.5vh;
        border-style: solid;
        border-color: var(--acc);
        background-color: var(--bg);
    }



    .pesq{
        display: flex;
        margin-top: -6vh;
        margin-left: 85%;
        width: 5vh;
        height: auto;
        transition-duration: 0.25s;
    }

    .envb{
        margin-top: 3vh;
        display: flex;
        flex-direction: row;
        justify-items: center;
        width: 100%;
    }

    .envb button{
        border: none;
        font-size: 1.5rem;
        background-color: var(--acc);
        color: white;
        border-radius: 1vh;
        padding: 1vh;
        width: 30vh;
        margin: auto;
        font-weight: bold;
        transition-duration: 0.25s;
        cursor: pointer;
    }
    
    .apagarb{
        border: none;
        margin-top: 3vh;
        font-size: 1.2rem;
        background-color: var(--or);
        color: white;
        border-radius: 1vh;
        height: 5vh;
        width: auto;
        transition-duration: 0.25s;
        cursor: pointer;
    }



    .erro{
        padding: 2vh;
        position: relative;
        border-radius: 2vh;
        top: 2.5vh;
        color: white;
        width: 89vw;
        margin: auto;
        background-color: var(--or);
        box-shadow: 0px 0vh 5px rgb(80, 80, 80);

    }

    .dropdown-select {
      height: auto;
      -webkit-border-top-right-radius: 1vh;
      -webkit-border-bottom-right-radius: 1vh;
      -webkit-border-bottom-left-radius: 1vh;
      -webkit-border-top-left-radius: 1vh;
      -moz-border-radius-topright: 1vh;
      -moz-border-radius-topleft: 1vh;
      -moz-border-radius-bottomright: 1vh;
      -moz-border-radius-bottomleft: 1vh;
      border-top-left-radius: 1vh;
      border-bottom-left-radius: 1vh;
      border-top-right-radius: 1vh;
      border-bottom-right-radius: 1vh;
      margin-left: 1vh;
      padding: 6px 8px 6px 10px;
      font-size: 1.1rem;
      color: #C7C7C1;
      background: #2D2E2E;
      border: 0;
      transition-duration: 0.25s;
    }
    
    .dropdown-select:focus {
      border-width: 0.5vh;
      border-style: solid;
      border-color: var(--acc);
      background-color: var(--bg);
    }
    
    .dropdown-select > option {
      margin: 3px;
      padding: 6px 8px;
      text-shadow: none;
      background: var(--bg);
      cursor: pointer;
    }
    
    .descd{
        display: none;
    }

    .descdlog{
        display: none;
    }


    .descm{
        color: #757575;
        font-size: 1rem;
        text-align: center;
        margin: 4vh;
        margin-bottom: 0;
    }

    .nof{
        position: absolute;
        width: 20vh;
        top: 70vh;
        left: calc(100% - 50% - 10vh);
        
        text-align: center;
        color: var(--texto);
    }
    
    .noimg{
        width: 5vh;
        height: auto;
    }
    

    .img {
        font-size: 1rem;
        margin-top: 1vh;
        margin-left: 1vh;
        border: none;
        color: var(--texto);
        padding: 1vh;
        border-radius: 1vh;
        font-size: 1.1rem; 
        text-align: center;
        width: 90vw;
        }
    
        .img::file-selector-button{
        border: none;
        display:flex;
        margin-top: 0vh;
        font-size: 1rem;
        background-color: var(--acc);
        color: white;
        border-radius: 1vh;
        height: 5vh;
        width: auto;
        transition-duration: 0.25s;
        cursor: pointer;
        }
    
        .img::file-selector-button:hover{
            filter: brightness(150%);
        }


        .contcontrol{
            text-align: center;
            position: relative;
            top: 3vh;
            padding: 0.1vh;
            border-radius: 3vw;
            width: 90%;
            margin: auto;
            background-color:#0d0e0e;
            border-radius: 2vh;
            padding: 1.5vh;
            display: flex;
            flex-direction: row-reverse;
        }
    
        .controlb{
            border: none;
            padding: 1vh;
            font-size: 1rem;
            background-color: var(--acc);
            color: white;
            font-weight: bold;
            border-radius: 1vh;
            height: 44%;
            width: 100%;
            transition-duration: 0.25s;
            cursor: pointer;
            margin-bottom: 2vh;
        }
    
        .bside{
            width: 50%;
        }
            
        .mens{
            border-radius: 1vh;
            width: 88%;
            border-color: #2D2E2E;
            outline: none;
            border-width: 0;
            font-size: 1.1rem;
            padding: 1vh;
            margin: 1vh;
            background-color: #2D2E2E;
            color: var(--texto);
            transition-duration: 0.25s;
        }


        .tside{
            width: 50%;
        }


        .gear{
            width: 4vh;
            height: auto;
            position: relative;
            margin-left: 1vh;
            transition: 0.25s;
        }
    
    
        .titl{
            margin-top: 1vh;
            display: flex;
            flex-direction: row;
            align-items: center;
        }
    
    
        .gear:hover{
            filter: brightness(150%);
            width: 5vh;
        }

        
    .sair{
        position: absolute;
        display: flex;
        flex-direction: row;
        top: 2vh;
        right: 2vh;
    }

    .sair img{
        display: none;
    }

    .sair input{
        border-radius: 1.5vh;
        border: none;
        width: auto;
        height: auto;
        padding: 1vh;
        font-size: 1.3rem;
        cursor: pointer;
        background-color: var(--acc);
        color: white;
        transition: 0.25s;
        font-weight: bold;
    }

    .sair input:hover{
        filter: brightness(150%);
    }
    
}

    
    
    
    

    
    
    
    
    
    





@media (min-width: 1025px) {
    .titulo{
        font-size: 7vh;
        color: rgb(199, 199, 199);
        font-weight: bold;
        margin: 0 3vh;
    }


    .loginb{
        border-radius: 1vh;
        border: none;
        font-size: 2.5rem;
        background-color: var(--acc);
        color: white;
        cursor: pointer;
        padding: 1vh;
        font-weight: bold;
        transition-duration: 0.25s;
    }

    .logo{
        height: 10vh;
        width: auto;
        margin: 0 2vh;
    }

    .header{
        background-color:var(--bg);
        width: 100%;
        border-radius: 0vw 0vw 1.1vw 1.1vw;
        box-shadow: 0px 0.3vh 5px rgb(80, 80, 80);
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 17vh;
    }

    .header div{
        display: flex;
        flex-direction: row-reverse;
        width: 100%;
        padding-right: 2vw;
    }

    .side{
        display: flex;
        flex-direction: column;
        position: fixed;
        right: 2vw;
        margin-left: 1vh;
        margin-top: 2vh;
        width: 29vw;
        justify-items: center;
    }


    .balaot{
        margin: 1.5vw;
        position: relative;
        font-size: 1.7rem
    }

    .balao{
        text-align: center;
        background-color: var(--acc);
        border-radius: 1vw;
        color: white; 
        width:100%; 
    }

    .seta{
        top: 16%;
        right: 3vw;
        position: fixed;
        width: 0vw; 
        height: 0vw; 
        border-left: 3vw solid transparent;
        border-right: 3vw solid transparent;
        border-bottom: 4vw solid var(--acc);
    }

    .erro{
        margin-right: 1vh;
        text-align: center;
        background-color: var(--or);
        border-radius: 1vw;
        color: white; 
        width:100%; 
    }

    .errot{
        margin: 4vh;
        text-align: left;
        font-size: 1.2rem;
    }

    .descm{
        display: none;
    }
    .descd{
        text-align: center;
        margin-top: 3vh;
        color: rgb(124, 124, 124);
        font-size: 1.7vw;
        width: 100%;
    }

    .descd p{
        padding: 0 2vh;
    }

 
    .descdlog{
        position: fixed;
        text-align: center;
        right: 4vw;
        top: 47vh;
        color: rgb(124, 124, 124);
        font-size: 1.7vw;
        width: 27vw;
    }

    .inf{
        margin: 1vh;
        width: 5vh;
        height: auto;
    }














    .i{
        margin-top: 2.5vh;
    }

    .form{
        display: flex;
        flex-direction: column;
        justify-items: center;
        padding: 3vh;
        border-radius: 2vh;

        width: calc(95% - 32vw);
        margin-left: 1vw;
        background-color: var(--bg);
        box-shadow: 0px 0vh 5px rgb(80, 80, 80);;
    }

    .linha{
        margin: 5vh ;
        color: #222222;
        width: 40vw;
        margin-left: 12vw;
    }
    

    .label{
        color: var(--texto);
        font-size: 1.1rem;
        margin-top: 1vh;
    }

    .tituloform{
        color: var(--texto);
        text-align: center;
    }

    .campo{
        border-radius: 1vh;
        width: 90% ;
        border-color: #2D2E2E;
        outline: none;
        border-width: 0;
        font-size: 1.1rem;
        padding: 1vh;
        margin: 1vh;
        background-color: #2D2E2E;
        color: var(--texto);
        transition-duration: 0.25s;
    }

    .campo:focus{
        border-width: 0.5vh;
        border-style: solid;
        border-color: var(--acc);
        background-color: var(--bg);
    }

    .titulof{
        border-radius: 1vh;
        width: calc(90% - 7vh);
        border-color: #555a5a;
        outline: none;
        border-width: 0;
        font-size: 1.1rem;
        padding: 1vh;
        margin: 1vh;
        background-color: #2D2E2E;
        color: var(--texto);
        transition-duration: 0.25s;
    }

    .titulof:focus{
        border-width: 0.5vh;
        border-style: solid;
        border-color: var(--acc);
        background-color: var(--bg);
    }
    

    .pesq{
        display: flex;
        margin-top: -6vh;
        margin-left: 89%;
        width: 5vh;
        height: auto;
        transition-duration: 0.25s;
    }

    .envb{
        width: 100%;
        display: flex;
        flex-direction: row-reverse;
        margin-top: 3vh;
    }

    .envb button{
        border: none;
        font-size: 1.7rem;
        background-color: var(--acc);
        color: white;
        border-radius: 1vh;
        padding: 1.5vh;
        font-weight: bold;
        transition-duration: 0.25s;
        cursor: pointer;
    }




    .dropdown-select {
        height: auto;
        -webkit-border-top-right-radius: 1vh;
        -webkit-border-bottom-right-radius: 1vh;
        -webkit-border-bottom-left-radius: 1vh;
        -webkit-border-top-left-radius: 1vh;
        -moz-border-radius-topright: 1vh;
        -moz-border-radius-topleft: 1vh;
        -moz-border-radius-bottomright: 1vh;
        -moz-border-radius-bottomleft: 1vh;
        border-top-left-radius: 1vh;
        border-bottom-left-radius: 1vh;
        border-top-right-radius: 1vh;
        border-bottom-right-radius: 1vh;
        margin-left: 1vh;
        padding: 6px 8px 6px 10px;
        font-size: 1.1rem;
        color: #C7C7C1;
        background: #2D2E2E;
        border: 0;
        transition-duration: 0.25s;
    }
    
    .dropdown-select:focus {
        border-width: 0.5vh;
        border-style: solid;
        border-color: var(--acc);
        background-color: var(--bg);

    }
    
    .dropdown-select > option {
        margin: 3px;
        padding: 6px 8px;
        text-shadow: none;
        background: var(--bg);
        cursor: pointer;
    }
      
    .nof{
        position: absolute;
        top: 40vh;
        left: 25vw;
        text-align: center;
        color: var(--texto);
    }
    
    .noimg{
        width: 5vh;
        height: auto;
    }
    
    
    .img {
    font-size: 1.1rem;
    margin-top: 1vh;
    margin-left: 1vh;
    border: none;
    color: var(--texto);
    background-color: #2D2E2E;
    padding: 1vh;
    border-radius: 1vh;
    font-size: 1.1rem; 
    }

    .img::file-selector-button{
    border: none;
    margin-top: 0vh;
    font-size: 1.2rem;
    background-color: var(--acc);
    color: white;
    border-radius: 1vh;
    height: 5vh;
    width: auto;
    transition-duration: 0.25s;
    cursor: pointer;
    }

    .img::file-selector-button:hover{
        filter: brightness(150%);
    }

    .pesq:hover{
        filter: brightness(150%);
    }

    .contcontrol{
        margin-top: 3vh;
        margin-bottom: 3vh;
        text-align: center;
        right: 1.2vw;
        width:100%; 
        bottom: 1vh;
        background-color:#0d0e0e;
        border-radius: 2vh;
        padding: 1.5vh 0;
        display: flex;
        flex-direction: column;
    }

    .controlb{
        border: none;
        padding: 1vh;
        font-size: 1.4rem;
        background-color: var(--acc);
        color: white;
        font-weight: bold;
        border-radius: 1vh;
        height: auto;
        width: auto;
    }

        
    .mens{
        border-radius: 1vh;
        width: 90%;
        border-color: #2D2E2E;
        outline: none;
        border-width: 0;
        font-size: 1.1rem;
        padding: 1vh;
        margin: auto;
        background-color: #2D2E2E;
        color: var(--texto);
        transition-duration: 0.25s;
    }

    
    .gear{
        width: 7vh;
        height: auto;
        position: relative;
        transition: 0.25s;
    }


    .titl{
        display: flex;
        flex-direction: row;
        align-items: center;
    }


    .gear:hover{
        filter: brightness(150%);
        width: 8vh;
    }


    .sair{
        position: fixed;
        display: flex;
        flex-direction: row;
        bottom: 2vh;
        right: 2vh;
    }

    .sair img{
        width: 5vh;
        height: auto;
        margin-left: 1vh;
    }

    .sair input{
        border-radius: 1.5vh;
        border: none;
        width: auto;
        height: auto;
        padding: 1vh;
        font-size: 1.3rem;
        cursor: pointer;
        background-color: var(--acc);
        color: white;
        transition: 0.25s;
        font-weight: bold;
    }

    .sair input:hover{
        filter: brightness(150%);
    }

}