:root{
    --acc: #00A160;
    --bg: #131516;
    --texto: rgb(199, 199, 199);
    --select-border: #777;
    --select-focus: var(--acc);
    --or: #FFA500;

}

body{
    font-family: 'Poppins', sans-serif;
    background-color: var(--bg);
    padding: 0;
    margin: 0;
    transition-duration: 0.25s;
}

a{
    text-decoration: none;
}


::-webkit-scrollbar-track
{
	border: 5px solid var(--bg);
	border-color: transparent;
	background-color: var(--bg);
}

::-webkit-scrollbar
{
	width: 5px;
	background-color: #dfe6e9;
}

::-webkit-scrollbar-thumb
{
	background-color: var(--acc);
	border-radius: 10px;
}


















@media (max-width: 1024px) {
    
    .flex{
        display: flexbox;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        left: 0;
        top: 0;
    }

    .header{
        background-color:var(--bg);
        width: 100%;
        height: 20vh;
        border-radius: 0vw 0vw 1.5vh 1.5vh;
        box-shadow: 0px 0.5vh 5px rgb(80, 80, 80);
        display: flex;
        flex-direction: row;
    }

    .logo{
        height: 6vh;
        width: auto;
        margin: 2vh;
    }
    
    .titulo{
        font-size: 5vh;
        color: rgb(199, 199, 199);
        font-weight: bold;
        margin: 0;
    }

    .balao{
        text-align: center;
        position: relative;
        top: 2vh;
        padding: 0.1vh;
        background-color: var(--acc);
        border-radius: 1.5vh;
        color: white;
        width: 94%;
        margin: auto;
    }


    .descd{
        display: none;
    }

    .descm{
        color: #757575;
        font-size: 1rem;
        text-align: center;
        padding: 1vh;
        margin-top: 2vh;
    }


    .balaot{
        margin: 3vw;
        position: relative;
        font-size: 1.1rem;
    }
    
    .seta{
        top: 7.5vh;
        position: absolute;
        width: 0vw; 
        height: 0vw; 
        border-left: 5.5vh solid transparent;
        border-right: 5.5vh solid transparent;
        border-bottom: 7vh solid var(--acc);
    }


    .align{
        width: 100%;
        display: flex;
        justify-content: center;
        position: absolute;
        top: 11vh;
    }



    .navbg{
        background-color: #2D2E2E;
        padding: 0.5vh;
        border-radius: 2vh;
        width: auto;
        display: block;
        margin-left:-1vw;
    }

    .navop{
        border: none;
        font-size: 1.3rem;
        background-color: transparent;
        color: white;
        border-radius: 1vh;
        height: 5vh;
        width: auto;
        margin: auto;
        transition-duration: 0.25s;
        cursor: pointer;
        font-weight: bold;
    }


    .navops{
        border: none;
        font-size: 1.3rem;
        background-color: var(--acc);
        color: white;
        border-radius: 1vh;
        height: 5vh;
        width: auto;
        margin: auto;
        transition-duration: 0.25s;
        cursor: pointer;
        font-weight: bold;
    }






    .navop:hover{
        color: var(--acc);
        filter: brightness(120%);
        background-color: var(--bg);
    }


    .bord{
        width: 25%;
    }

    .contcard{
        margin-top: 0vh;
    }

    .card{
        padding: 2vh;
        border-radius: 2vh;
        margin-bottom: 1.5vh;
        width: 86%;
        margin-right: auto;
        margin-left: auto;
        background-color: var(--bg);
        box-shadow: 0px 0vh 5px rgb(80, 80, 80);
        display: flex;
        flex-direction: row-reverse;
        transition-duration: 0.25s;
    }


    .cardprim{
        border: solid 1vh var(--acc);
        padding: 1vh;
        border-radius: 2vh;
        margin-bottom: 1.5vh;
        width: 86%;
        margin-right: auto;
        margin-left: auto;
        background-color: var(--bg);
        box-shadow: 0px 0vh 5px rgb(80, 80, 80);
        display: flex;
        flex-direction: row-reverse;
        transition-duration: 0.25s;
        font-weight: bold;
    }

    .cardt{
        color: var(--texto);
        text-align: left;
        width: 100%;
        font-size: 1.7rem;
        margin: auto;
    }

    .card:hover{
        background-color: #222425;
    }

    .voteb{
        width: 7vh;
        height: 7vh;
        cursor: pointer;
        transition-duration: 0.25s;
        margin: auto;
    }


    .numv{
        color: var(--texto);
        margin: auto;
        margin-right: 1vh;
        font-size: 2rem;
    }


    .nof{
        position: absolute;
        width: 100%;
        top: 55vh;
        text-align: center;
        color: var(--texto);
    }

    .nof p{
        padding: 0vh 5vh;
    }
    
    .noimg{
        width: 5vh;
        height: auto;
    }


    .gear{
        width: 7vh;
        height: auto;
        position: relative;
        transition: 0.25s;
    }

    .gear{
        width: 4vh;
        margin-top: 1.5vh;
        height: auto;
        margin-left: 1vh;
        transition: 0.25s;
    }


    .titl{
        margin-top: 1.5vh;
        display: flex;
        flex-direction: row;
    }

    
    .sair{
        position: absolute;
        display: flex;
        flex-direction: row;
        top: 2vh;
        right: 2vh;
    }

    .sair img{
        display: none;
    }

    .sair input{
        border-radius: 1.5vh;
        border: none;
        width: auto;
        height: auto;
        padding: 1vh;
        font-size: 1.3rem;
        cursor: pointer;
        background-color: var(--acc);
        color: white;
        transition: 0.25s;
        font-weight: bold;
    }

    .sair input:hover{
        filter: brightness(150%);
    }

    .titsin{
        font-weight: bold;
        color: #25bb7f;
    }
}

    
    
    
    

    
    
    
    
    
    





@media (min-width: 1025px) {
    .titulo{
        font-size: 7vh;
        color: rgb(199, 199, 199);
        font-weight: bold;
        margin: 3vh;
    }



    
    .side{
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 0;
        right: 1.5vh;
        margin-left: 1vh;
        margin-top: 2vh;
        width: 33vw;
        justify-content: center;
    }

    .balaot{
        margin: 1.5vw;
        position: relative;
        font-size: 1.7rem;
    }


    .balao{
        text-align: center;
        background-color: var(--acc);
        border-radius: 1vw;
        color: white; 
        width: 90%;
        margin: auto; 
    }

    .descm{
        display: none;
    }
    
    .descd{
        margin-top: 2vh;
        text-align: center;
        color: rgb(124, 124, 124);
        font-size: 1.7vw;
    }

    .descd p{
        padding: 0 3vh;
    }

    
    .inf{
        margin-top: 3.5vh;
        margin-bottom: -2vh;
        width: 5vh;
        height: auto;
    }

    .loginb{
        border-radius: 1.5vh;
        border: none;
        height: 8vh;
        font-size: 5vh;
        background-color: var(--acc);
        color: white;
        cursor: pointer;
        transition: background-color 0.75s;
        word-break: keep-all;
    }
    .bord{
        width: 8vh;
        right: 0vh;
        
        
    }
    .logo{
        height: 10vh;
        width: auto;
        margin-left: 2vh;
    }
    .header{
        background-color:var(--bg);
        width: 100%;
        border-radius: 0vw 0vw 1.1vw 1.1vw;
        box-shadow: 0px 0.3vh 5px rgb(80, 80, 80);
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 17vh;
    }

    .seta{
        top: 13vh;
        width: 0vh; 
        height: 0vh; 
        margin: auto;
        position: absolute;
        border-left: 5.7vh solid transparent;
        border-right: 5.7vh solid transparent;
        border-bottom: 7vh solid var(--acc);
    }



    .navbg{
        background-color: #2D2E2E;
        padding: 1vh;
        border-radius: 2vh;
        display: block;
        width: auto;
        top: 1vh;
        margin-bottom: 5vh;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .navop{
        border: none;
        font-size: 2vw;
        background-color: transparent;
        color: white;
        border-radius: 1vh;
        height: 9vh;
        width: 10vw;
        transition-duration: 0.25s;
        cursor: pointer;
        font-weight: bold;
    }


    .navops{
        border: none;
        font-size: 2vw;
        background-color: var(--acc);
        color: white;
        border-radius: 1vh;
        height: 9vh;
        width: 10vw;
        transition-duration: 0.25s;
        cursor: pointer;
        font-weight: bold;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }


    .titsin{
        font-weight: bold;
        color: #25bb7f;
    }

    .navop:hover{
        color: var(--acc);
        filter: brightness(120%);
        background-color: var(--bg);
    }

    .contcard{
        margin-top: 2vh;
    }

    .card{
        padding: 2vh;
        border-radius: 2vh;
        margin-bottom: 1.5vh;
        margin-left: 1vh;
        width: 63vw;
        background-color: var(--bg);
        box-shadow: 0px 0vh 5px rgb(80, 80, 80);
        display: flex;
        flex-direction: row-reverse;
        transition-duration: 0.25s;
    }


        .cardprim{
        border: solid 1vh var(--acc);
        padding: 1vh;
        border-radius: 2vh;
        margin-bottom: 1.5vh;
        margin-left: 1vh;
        width: 63vw;
        background-color: var(--bg);
        box-shadow: 0px 0vh 5px rgb(80, 80, 80);
        display: flex;
        flex-direction: row-reverse;
        transition-duration: 0.25s;
        font-weight: bold;
    }

    .imgcard{
        margin-top: auto;
        margin-bottom: auto;
        margin-right: 4vh;
        object-fit:cover;
        object-position: center;
        height: 15vh;
        width: 25vh;
        border-radius: 1.5vh;
    }

    
    .cardt{
        color: var(--texto);
        text-align: left;
        width: 100%;
        font-size: 2rem;
        margin: auto;
    }

    .card:hover{
        background-color: #222425;
    }

    .voteb{
        width: 9vh;
        height: 9vh;
        cursor: pointer;
        transition-duration: 0.25s;
        margin: auto;
    }

    .voteb:hover{
        filter: brightness(150%);
        width: 10vh;
        height: 10vh;
    }

    .numv{
        color: var(--texto);
        margin: auto;
        margin-right: 3vh;
        font-size: 2rem;
    }

    .nof{
        position: absolute;
        top: 40vh;
        left: 23vw;
        width: 50vh;
        text-align: center;
        color: var(--texto);
        }

        
    .noimg{
        width: 5vh;
        height: auto;
    }

        
    .gear{
        width: 7vh;
        height: auto;
        position: relative;
        transition: 0.25s;
    }


    .titl{
        display: flex;
        flex-direction: row;
        align-items: center;
    }


    .gear:hover{
        filter: brightness(150%);
        width: 8vh;
    }


    .sair{
        position: fixed;
        display: flex;
        flex-direction: row;
        bottom: 2vh;
        right: 2vh;
    }

    .sair img{
        width: 5vh;
        height: auto;
        margin-left: 1vh;
    }

    .sair input{
        border-radius: 1.5vh;
        border: none;
        width: auto;
        height: auto;
        padding: 1vh;
        font-size: 1.3rem;
        cursor: pointer;
        background-color: var(--acc);
        color: white;
        font-weight: bold;
        transition: 0.25s;
    }

    .sair input:hover{
        filter: brightness(150%);
    }

}